.textarea {
    width: 20rem;
    height: 10rem;
    max-width: 22rem;
    max-height: 30rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
.input {
    max-width: 22rem;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
}

.page-container h5 {
    margin-top: 0rem;
    margin-bottom: 0rem;
}

.left-bottom {
    display: flex;
    justify-content: flex-start;
    align-items: left;
    flex: row;
    position: relative;
    bottom: 0;
    left: 0rem;
    margin-top: 1rem;
    
}

.right-bottom {
    position: absolute;
    bottom: 0.5rem;
    right: 0;
    margin: 0rem;
}
.icon-button {
    margin: 0.5rem;
    padding: 0rem;
    font-size: 1.2rem;
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: var(--bg-color);
    z-index: 20000;
}
.icon-button:hover {
    color: var(--text-color);
    animation: shake 0.5s;
    animation-iteration-count: 1;
}
@keyframes shake {
    0% { transform: translate(0, 0); }
    25% { transform: translate(-2px, 0); }
    50% { transform: translate(2px, 0); }
    75% { transform: translate(-2px, 0); }
    100% { transform: translate(0, 0); }
}
.icon-button:focus {
    outline: none;
}
.icon-button:active {
    transform: scale(0.95);
}


.select-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin: 1rem;
    gap: 1rem;
}
.custom-select {
  min-width: 3rem;
  position: relative;
}

.custom-select select {
  appearance: none;
  width: 100%;
  font-size: 1rem;
  padding: 0.5em 2em 0.5em 1em;
  background-color: var(--bg-color);
  border: 1px solid #caced1;
  border-radius: 0.25rem;
  color: var(--text-color);
  cursor: pointer;
}

.custom-select::before,
.custom-select::after {
  --size: 0.3rem;
  content: "";
  position: absolute;
  right: 1rem;
  pointer-events: none;
}

.custom-select::before {
  border-left: var(--size) solid transparent;
  border-right: var(--size) solid transparent;
  border-bottom: var(--size) solid black;
  top: 40%;
}

.custom-select::after {
  border-left: var(--size) solid transparent;
  border-right: var(--size) solid transparent;
  border-top: var(--size) solid black;
  top: 55%;
}
