.header {
  position: fixed;
  top: 0;
  height: 6rem;
  width: 90vw;
  max-width: 1024px;
  min-width: 300px;
  background: #aab43a;
  background: linear-gradient(90deg,rgba(170, 180, 58, 1) 0%, rgba(8, 150, 175, 1) 50%);
    box-shadow: 2px 2px 2px #333333;
  padding: 1rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 12px;
  box-sizing: border-box;
}

.SpinLogo{
  height: 4rem;
  position: absolute;
  top: 1rem;
  left: 1rem;
}
.TitleName {
  height: 5rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Shifts the image by half its width and height */
}
.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.header-user {
  display: flex;              /* Aligns the user info and buttons */
  position: absolute;         /* Positioning the user info and buttons */
  right: 1rem;                /* Aligns to the right */
  bottom: 0.5rem;             /* Aligns to the bottom */
  color: var(--bg-color);     /* Text color for both user info and buttons */
  gap: 0.5rem;                /* Space between user info and buttons */
}


.login-btn, .login-btn-active {
  color: var(--bg-color);
  padding: 0;
}
.login-btn:hover, .login-btn-active:hover {
  color: var(--bg-color);
}

.logout-btn {    /* Logout button - Removed Margin, Width and Padding here, since we use Gap in the main container. .header-user */
  background-color: transparent;
  color: var(--bg-color);
  padding: 0;
  border: none;
  cursor: pointer;
}

.toggle-container {
    position: absolute;
    top: 0;
    right: 0rem;
    zoom: 0.8;
}


/* Desktop nav */

.nav-desktop {
  display: none;
    position: absolute;
    bottom: 0rem;
    right: 3rem;
  }


.header.visible {
  transform: translateY(0);
  animation: fadeInHeader 1s ease-in-out forwards;
}
@keyframes fadeInHeader {
  from {
    transform: translateY(-100%);
    opacity: 0;

  }
  to {
    transform: translateY(0);
    opacity: 1;

  }
}
.header.hidden {
  transform: translateY(-100%);
  animation: fadeOutHeader 1s ease-in-out forwards;

}

@keyframes fadeOutHeader {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(-100%);
    opacity: 0;

  }
}

@media (max-width: 800px) {
  .header {
    height: 6rem;   
  } 
}
  .nav-desktop ul {
    display: flex;
    gap: 20px;
    list-style: none;
  } 
  nav{
    display: flex;
    justify-content: right;
  }
  .headerbtn {
    text-decoration: none;
    font-size: 1.0em;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, transform 0.3s;
  }
  .headerbtn:hover {
    color: lightblue; 
    transform: scale(1.05); /* Slightly enlarge the button on hover */
  }
  .headerbtn.active {
    text-decoration: underline;
    color: darkgray;
  }
  .header h1{
    text-align: start;
    margin-left: 1rem;
    font-size: 1.5rem;
  }
  .nav.menubutton:active {
    text-decoration: underline;
  }

  /* Responsive styles for the header */
.hamburger {
  font-size: 28px;
  color: var(--bg-color);
  background: none;
  border: none;
  cursor: pointer;
  display: block;
  position: absolute;
  padding: 0px 4px;
  right: 0.5rem;
  top: 2rem;
  z-index: 1000; /* Ensure the hamburger is above other elements */
}
  /* Nav menu for mobile */
.nav-menu {
  display: none;
}

.nav-menu ul {
  display: flex;
  list-style: none;
  padding: 1rem;
  background: #aab43a;
  background: linear-gradient(45deg,rgba(170, 180, 58, 1) 0%, rgba(8, 150, 175, 1) 60%);
  border-left: #aab43a 1px solid;
  border-bottom: #aab43a 1px solid;
  border-right: #333333 1px solid;
  border-top: #333333 1px solid;

  position: absolute;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  flex-direction: column;
  gap: 0rem;

  z-index: 1000;
  top: 2rem;
  right: 3rem;
}

.nav-menu.open {
  display: flex;
}

/* Hamburger exit button and location */
.hamburger-close {
  display: block;
  background: none;
  border: none;
  color: var(--bg-color);
  font-size: 1.5rem;
  cursor: pointer;
}
.hamburger-close:hover{
  color: darkred;
  animation: pulse 0.5s infinite;
}
@media (max-width: 868px) {
  .hamburger {
    display: block;
    /* right: 2rem; */
    animation: fadeIn 1s ease-in-out forwards;
  }
  .nav-desktop {
    display: none;
  }
  /* .toggle-container {
    right: 2rem;
  } */
  
}
.right-align{
  margin-left: auto;
}

/* Hamburger Menu Buttons/Links */
.nav-menu ul li a {
  text-decoration: none;
  font-size: 1.5rem;
  color: var(--bg-color);
  padding: 0rem 1rem;
}

.burgerbtn.active {
  text-decoration: underline;
  color: darkgray;
}


@media (max-width: 868px) {

  .hamburger {
    display: block;
    animation: fadeIn 1s ease-in-out forwards;
  }

 
  .nav-desktop {
    display: none;
  }


}

/* keyframes for smooth fade */
@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

@media (max-width: 600px) {
  .TitleName {
    height: 3.5rem;
  }
  .SpinLogo {
    height: 4rem;
  }
}

@media (max-width: 450px) {
  .header {
    width: 100vw;
    border-radius: 0;
    margin: 0;
  }
  .TitleName {
    height: 3rem;
  }
  .SpinLogo {
    height: 4rem;
  }
}

/* Ensure hidden header is still accessible */
.header.hidden {
  transform: translateY(-100%); /* Your hide animation */
  visibility: visible; /* Keep focusable */
  position: fixed; /* Ensure it stays in DOM */
}
