.wheel-container {
  width: 500px;
  height: 500px;
  margin: auto;
  position: relative;
}

.wheel-of-fortune {
  all: unset;
  aspect-ratio: 1 / 1;
  background: rgb(241, 162, 178);
  container-type: inline-size;
  direction: ltr;
  display: grid;
  place-content: center start;
  clip-path: inset(0 0 0 0 round 50%);
  border: dotted 1cqi gold;
  border-radius: 50%;
}

.wedge {
  align-content: center;
  background: deepskyblue;
  display: grid;
  font-size: 3cqi;
  text-align: center;
  grid-area: 1 / -1;
  list-style: none;
  transform-origin: center right;
  width: 50cqi;
  rotate: calc(360deg / var(--_items) * (var(--_idx) - 1));
  height: calc((3.1416 * 50cqi) / var(--_items));
  clip-path: polygon(0% -2%, 100% 50%, 0% 102%);
}

.full-wedge {
  transform: none !important;
  clip-path: circle(50%);
  width: 95% !important;
  height: 95% !important;
  border-radius: 50%;
  top: 1;
  left: 1;
  transform-origin: center;
  position: absolute;
  font-size: 6cqi;
}

.pointer {
  position: absolute;
  top: 1;
  left: 47%;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-top: 32px solid red;
  z-index: 10;
}

.spin-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;
  padding: 0.9em 0.3em;
  border-radius: 50%;
  background: gold;
  border: 2px solid darkgoldenrod;
  font-weight: bold;
  cursor: pointer;
}
